
h1, h2, h3{
	font-family: "hadogenes", fantasy;
	border: 2px dashed;
	padding: 10px;
	color: lime;
	margin: 1em;
}



p{
	font-family: helvetica;
	margin: 1em;

}

body{
	background-color:black;
	font-family: helvetica;
	color: white;

}

img{
	display: inline-block;
	max-width: 100%;
	padding: 2px;
	margin: 1em;
}

span{
	color: darkorange;
	background-color: black;
	font-family: monospace;
}

.avatar{
	text-align: center;
}

a{
	color: salmon;
	font-family: fantasy;
	text-decoration-style: wavy;

}

#null{
	color: blue;
	text-decoration: underline;
	font-family: serif;
}

section{
	margin: 1em;
}

a:hover{
	color: transparent;
	text-shadow: 1px 1px 3px salmon;
}


